.statistics-sub-headline{
    color : var(--grayish-violet);
    font-weight: var(--medium);
    line-height: 1.5;
    margin-bottom: 0px;
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 576px) {
    .statistics-sub-headline {
        width: 100%;
        font-size: 18px;
    }
}

@media (min-width: 577px) {
    .statistics-sub-headline {
        width: 100%;
        font-size: 18px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .statistics-sub-headline {
        font-size: 19px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .statistics-sub-headline {
        font-size: 22px;
    }
 }