.statistics-section {
    background-color: #EFF1F7;
    height: 850px;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.statistics-text-container{
    margin-top: 100px;
}

.statistics-column-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.statistics-column-right {
    height: 50%;
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 576px) {
    .statistics-section {
        padding-top: 80px;
        padding-bottom: 80px;
        height: auto;
    }

    .statistics-column-left {
        margin-bottom: 100px;
        height: auto;
    }

    .statistics-column-right {
        height: auto;
    }

    .statistics-text-container {
        width: 100%;
    }

    .statistics-headline-container {
        margin-bottom: 25px;
    }
}

@media (min-width: 577px) {
    .statistics-section {
        padding-top: 80px;
        padding-bottom: 80px;
        height: auto;
    }

    .statistics-column-left {
        margin-bottom: 100px;
        height: auto;
    }

    .statistics-column-right {
        height: auto;
    }

    .statistics-text-container {
        width: 100%;
    }

    .statistics-headline-container {
        margin-bottom: 25px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }