.input-link {
    width: 725px;
    padding: 11px 30px;
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--grayish-violet);
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 576px) {
    .input-link {
        width: 100%;
    }
}

@media (min-width: 577px) {
    .input-link {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }