.statistics-headline{
    color : var(--very-dark-blue);
    font-size: 42px;
    font-weight: var(--bold);
    margin-bottom: 0px;
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 376px) {
    .statistics-headline {
        font-size: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }