.hero-section {
    position: relative;
}
.hero {
    display: flex;
    align-items: center;
    height: 750px;
}

.hero-column-left {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.hero-column-right {
    position: absolute;
    max-width: 45%;
    right: 0;
}

.hero-button-container {
    align-self: baseline;
    margin-top: 30px;
}

.hero-img-container {
    overflow: hidden;
}

.hero-img {
    margin-right: -20%;
}