.hero-section {
    position: relative;
}
.hero {
    display: flex;
    align-items: center;
    height: 482px;
}

.column-left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.column-right {
    max-width: 50%;
}

.button-container {
    align-self: baseline;
}

.hero-img-container {
    overflow: hidden;
    position: absolute;
    max-width: inherit;
    top: 0;
    right: 0;
}

.hero-img {
    margin-right: -20%;
}