.hero-section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 150px;
    /* height: 632px; */
}
.hero {
    display: flex;
    align-items: center;
    height: 482px;
}

.hero-column-left {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.hero-column-right {
    position: absolute;
    max-width: 45%;
    right: 0;
}

.hero-button-container {
    align-self: baseline;
    margin-top: 30px;
}

.hero-img-container {
    overflow: hidden;
}

.hero-img {
    /* margin-right: -20%; */
}


/* Small devices (landscape phones, 376px, 377px and up) */

@media (max-width: 576px) {
    .hero-section{
        /* height: 800px; */
    }

    .hero {
        height: auto;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .hero-column-left {
        max-width: none;
        align-items: center;
        width: 100%;
    }

    .hero-button-container {
        align-self: unset;
    }

    .hero-column-right {
        position: unset;
        max-width: unset;
        margin-bottom: 36px;
        width: 100%;
    }

    .hero-img-container {
        overflow: unset;
    }

    .hero-img {
        margin-right: 0;
        width: 500px;
    }

}

@media (min-width: 577px) {
    .hero-section{
        /* height: 800px; */
    }

    .hero {
        height: auto;
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .hero-column-left {
        max-width: none;
        align-items: center;
        width: 100%;
    }

    .hero-button-container {
        align-self: baseline;
    }

    .hero-column-right {
        position: unset;
        max-width: unset;
        margin-bottom: 36px;
        width: 100%;
    }

    .hero-img-container {
        overflow: unset;
    }

    .hero-img {
        margin-right: 0;
        width: 500px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-section {
        overflow: hidden;
    }

    .hero {
        flex-direction: row;
    }

    .hero-column-left {
        width: 50%;
    }

    .hero-column-right {
        width: 50%;
    }

    .hero-button-container {
        align-self: baseline;
    }

    .hero-column-right {
        position: absolute;
        top: 0;
        margin-bottom: 0px;
    }

   
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .hero-section {
        padding-bottom: 200px;
    }

    .hero-img {
        width: 610px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .hero-section {
        padding-bottom: 270px;
    }
    .hero-img {
        width: 790px;
    }
 }