.hero-sub-headline{
    color : var(--grayish-violet);
    font-size: 26px;
    font-weight: var(--medium);
    text-align: left;
    line-height: 1.5;
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 576px) {
    .hero-sub-headline {
        text-align: center;
        font-size: 21px;
    }
}

@media (min-width: 577px) {
    .hero-sub-headline {
        text-align: left;
        font-size: 23px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-sub-headline {
        text-align: left;
        font-size: 20px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .hero-sub-headline{
        font-size: 20px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .hero-sub-headline{
        font-size: 24px;
    }
 }