.footer-section {
    background-color: var(--very-dark-violet);
    display: flex;
    align-items: center;
    height: 340px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-column-left {
    display: flex;
    justify-content: baseline;
    width: 30%;
}

.white-logo-button-container {
    height: fit-content;
    width: fit-content;
}

.footer-column-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.footer-headline {
    color: white;
    font-weight: var(--bold);
    margin-bottom: 22px;
}

.footer-item {
    margin-bottom: 8px;
}

.footer-link {
    color: var(--gray);
    font-weight: var(--bold);
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 576px) {
    .footer-section {
        height: auto;
        padding: 50px 0px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-column-left {
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
    }

    .footer-column-right {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-list {
        align-items: center;
        margin-bottom: 35px;
        padding: 0px;
    }
}

@media (min-width: 577px) {
    .footer-section {
        height: auto;
        padding: 50px 0px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-column-left {
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
    }

    .footer-column-right {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-list {
        align-items: center;
        margin-bottom: 35px;
        padding: 0px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }