.shorten-form-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--very-dark-blue);
    background-image: url('../../../assets/images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 0px 36px;
    width: 1024px;
    height: 170px;
}

.form-group {
    margin-bottom: 0px;
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 376px) {
    .shorten-form-container {
        background-image: url('../../../assets/images/bg-shorten-mobile.svg');
        width: 100%;
        flex-direction: column;
        background-position: top right;
    }
}

@media (min-width: 376px) {
    .shorten-form-container {
        background-image: url('../../../assets/images/bg-shorten-mobile.svg');
        width: 100%;
        flex-direction: column;
        background-position: top right;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }