.shorten-form-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--very-dark-blue);
    background-image: url('../../../assets/images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 0px 36px;
    height: 170px;
}

.form-group {
    margin-bottom: 0px;
}

.shorten-form-group {
    width: 100%;
}

.shorten-btn-container {
    width: 100%;
}

/* Small devices (landscape phones, 376px, 576px and up) */

@media (max-width: 576px) {
    .shorten-form-container {
        background-image: url('../../../assets/images/bg-shorten-mobile.svg');
        flex-direction: column;
        background-position: top right;
    }
}

@media (min-width: 577px) {
    .shorten-form-container {
        background-image: url('../../../assets/images/bg-shorten-mobile.svg');
        flex-direction: column;
        background-position: top right;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .shorten-form-container {
        background-image: url('../../../assets/images/bg-shorten-desktop.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .shorten-form-container {
        flex-direction: row;
    }

    .shorten-form-group {
        width: 72%;
    }

    .shorten-btn-container {
        width: auto;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .shorten-form-container {
        max-width: 1110px;
    }
 }