/* Small devices (landscape phones, 376px, 576px and up) */

.link-fiture-container {
    width: 100%;
}

.link-fiture-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
}

.link-fiture-column-left{
    display: flex;
    border-bottom: 1px solid var(--gray);
    width: 100%;
}

.link-fiture-column-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link-fiture-button-cyan {
    width: 100%;
    color: white;
    font-weight: var(--bold);
    background-color: var(--cyan);
}

.link-fiture-button-black {
    width: 100%;
    color: white;
    font-weight: var(--bold);
    background-color: var(--dark-violet);
}

.link-fiture-original-link {
    color: var(--very-dark-violet);
    text-align: left;
    font-size: 17px;
    padding-bottom: 16px;
    margin: 0px;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-fiture-shorten-link {
    color: var(--cyan);
    font-weight: var(--bold);
    font-size: 17px;
    margin: 0px;
    padding: 15px 0px;
    text-align: left;
}

.link-fiture-button {
    width: 108px;
}

@media (max-width: 576px) {
    
}

@media (min-width: 577px) {
    
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .link-fiture-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .link-fiture-column-left {
        border-bottom: none;
        align-items: center;
        width: 60%;
    }

    .link-fiture-original-link {
        padding-bottom: 0px;
    }

    .link-fiture-shorten-link {
        padding: 0px 0px;
    }

    .link-fiture-column-right {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
    }

    .link-fiture-button-cyan {
        width:unset;
        padding: 8px 26px;
        color: white;
        font-weight: var(--bold);
        background-color: var(--cyan);
    }
    
    .link-fiture-button-black {
        width:unset;
        padding: 8px 26px;
        color: white;
        font-weight: var(--bold);
        background-color: var(--dark-violet);
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }